#wrapper {
    padding-top: 90px;
}

@media (min-width: 1500px) {
    #wrapper.container {
        width: 90%;
    }
}

.navbar-default {
    background-color: #d33c44;
    height: 80px;
}

.navbar-default a {
    padding-top: 30px !important;
    color: white !important;
    height: 79px;
}

.navbar-default li.active a {
    background-color: #b8343b !important;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: #3cd3cb !important;
    border-color: #2fa49c;
}

.btn-primary:hover {
    background-color: #2d9e98 !important;
    border-color: #2fa49c;
}

.btn-primary:active {
    background-color: #25847f !important;
    border-color: #2fa49c;
}

.navbar-default form {
    padding-top: 15px !important;
}

.navbar-default input {
    border-radius: 0;
}

ul.dropdown-lr {
    width: 300px;
}

li.dropdown.open > a {
    background-color: #b8343b !important;
}

.navbar-collapse.collapse.in {
    background-color: #d33c44;
}

@media (min-width: 768px) {
    #login-form {
        width: 350px;
        padding-bottom: 20px;
    }
}

.navbar-text {
    margin-top: 30px !important;
    color: white !important;
    margin-right: 0 !important;
}